body{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    background: #f9f9f9 url(../image/holder.gif) top center repeat-y;
}
div#wrapper {
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 1129px;
    text-align: left;
}
div#navfirst {
    width: 1100px;
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    background: #fff;
}
div#navfirst ul#menu {
    width: 1100px;
    margin: 0;
    padding: 0;
}
div#navfirst ul#menu li {
    float: left;
    margin: 30px 40px 0px 0px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
ul#menu li, ul#menu a {
    display: block;
    color: #333;
    height: 30px;
    text-align: center;
}
#i, #i a{
    width: 60px;
}
#p, #p a{
    width: 60px;
}
#a, #a a{
    width: 80px;
}
ul#menu li.active, ul#menu a:hover{
    border-bottom: red 2px solid;
}
.content{
    width: 1117px;
    margin: 0 0 0 12px;
}
.w350{
    width:350px;
}
.w300{
    width: 300px;
}
.w220{
    width: 220px;
}
.w200{
    width: 200px;
}