/* upload avatar widget start */
#uploadHeadWidget .image-panel {background-color: #F2F4F9;float: left;height: 410px;padding: 10px;position: relative;width: 425px;}
#uploadHeadWidget .image-panel .upload-btn {border: 1px solid #959595;cursor: pointer;}
#uploadHeadWidget .image-panel .upload-loading{display: none; background: url('../../images/load.gif') no-repeat;width: 128px;height: 15px;}
#uploadHeadWidget .image-panel .upload-area{position: absolute;top:165px;left:175px;width: 160px;overflow:hidden;}
#uploadHeadWidget .image-panel .upload-ctrl{height:25px;cursor: pointer;position: absolute;top: 0;right: 0;font-size:100px;opacity: 0;filter:alpha(opacity=0);}
#uploadHeadWidget .image-thumn {float:right;}
#uploadHeadWidget .image-thumn p{color: #888888;}
#uploadHeadWidget .image-thumn span{display:block;background-color:#F0F0F0;overflow:hidden;}
#uploadHeadWidget .image-thumn img{
	outline: none;
	border: 0;
	display: none;
}
#uploadHeadWidget .image-thumn .normal span {width:200px;height:200px; background: url("../../images/default_avatar_200.gif")}
#uploadHeadWidget .image-thumn .tiny span {width:100px;height:100px;margin-top: 15px; background: url("../../images/default_avatar_100.gif")}
#uploadHeadWidget .image-thumn .mini span {width:30px;height:30px;margin-top: 15px; background: url("../../images/default_avatar_30.gif")}
#uploadHeadWidget .image-thumn .sizedesc {color: #888888;margin-top: 5px;}
#uploadHeadWidget .standard{ height: 50px;position: absolute;text-align: center;top: 225px;width: 425px;color:#666;}

#uploadAgain{float:left;width:80px;height:30px;overflow:hidden;position:relative;display:none;}
#uploadAgain input{margin-left:0;}
#uploadAgain .upload-btn{color:#666666;border: 1px solid #FFFFFF;background-color:#FFFFFF;font-size: 12px;width:80px;height: 30px;zoom:1;text-align:left;}
#uploadAgain .upload-ctrl{cursor: pointer;position: absolute;top: 0;right: 0;font-size:100px;opacity: 0;filter:alpha(opacity=0);}

.upload-loading{margin-left:150px;margin-top:175px;}
.async-upload{display:none;}
/* upload avatar widget end */