<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}赛事系统{% endblock %}</title>
  <meta name="description" content="赛事系统" />
  <meta name="keywords" content="赛事系统" />
  <!--[if lt IE 9]><script src="{{ '/static/js/lib/html5.js'|staticurl }}"></script><![endif]-->
  <link type="text/css" rel="stylesheet" href="{{ '/static/css/global.css'|staticurl }}" />
  <link type="text/css" rel="stylesheet" href="{{ '/static/js/lib/bootstrap/css/bootstrap.min.css'|staticurl }}" />
  <link type="text/css" rel="stylesheet" href="{{ '/static/css/common.css'|staticurl }}" />
  <link type="text/css" rel="stylesheet" href="{{ '/static/css/layout.css'|staticurl }}" />
  {%- block stylesheets %}{% endblock -%}
</head>
<body>
{% block header %}
    {% include 'inc/header.html' %}
{% endblock %}
<div class="center">
{% block mainbody %}
{% endblock %}
</div>
<script type="text/javascript" src="{{ '/static/js/lib/jquery/jquery.js'|staticurl }}"></script>
<script type="text/javascript" src="{{ '/static/js/lib/bootstrap/js/bootstrap.min.js'|staticurl }}"></script>
<script type="text/javascript" src="{{ '/static/js/lib/json2.js'|staticurl }}"></script>
<script type="text/javascript" src="{{ '/static/js/lib/mustache.js'|staticurl }}"></script>
<script type="text/javascript" src="{{ '/static/js/modules/common.js'|staticurl }}"></script>
{%- block scripts %}{% endblock -%}
</body>
</html>
