.login-main{
    width:500px;
    margin:50px auto;
}
.title{
    font-size:16px;
    font-weight:bold;
    color:#333;
    text-align: center;
    height:40px;
    line-height:30px;
}
#message{
    display:none;
}
